form label, form input, form textarea {width: 100%; margin: 5px;}
#payment-create-button {width: 150px;}
form .method-radio {margin: 0 auto; width: 120px;}
form .radio {float: left; width: 10px;}
form img {width: 100px; float: left;}

.container.payment {
	margin-top: 20px;
}

.seller-row {
	margin-bottom: 35px;
}

.seller-info {
	margin-top: 20px;
}

.seller-rating {
	font-weight: bold;
}

.thumbnail {
	width: 50%;
	height: 50%;
}

.delivery {
	text-align:center;
}

.payment-text{
	text-align: left;
}

.email-form {
	padding-left: 35%;
	padding-right: 35%;
}